In [28]:
import pandas as pd

import sys
from pathlib import Path
repo_root = Path.cwd().parent.parent
sys.path.append(str(repo_root))

In [29]:
customers_df = pd.read_parquet((repo_root /"data/transformed/customers_normalized.parquet").resolve())
usage_df = pd.read_parquet((repo_root /"data/transformed/usage_normalized.parquet").resolve())

In [30]:
print(f"check duplicates in customers_df: {customers_df.duplicated(subset=["id"]).sum()}")
display(customers_df.groupby("is_customer").size())
print(f"customer columns : {customers_df.columns}")

check duplicates in customers_df: 0

is_customer
False    5000
True      200
dtype: int64

customer columns : Index(['id', 'alexa_rank', 'employee_range', 'industry', 'closedate',
       'is_customer'],
      dtype='object')

In [31]:
display(customers_df.groupby("industry").size())
display(customers_df.groupby("employee_range").size())

industry
computer software                       221
construction                             18
consulting advisory                      24
consumer services                        24
education management                     21
financial services                       23
higher education                         71
information technology and services      57
leisure travel tourism                   17
management consulting                    16
manufacturing                            18
marketing and advertising                80
marketing services                       15
non profit educational institution       52
non profit organization management       17
other                                   573
real estate                              37
retail                                   15
technology software                      50
unknown                                3851
dtype: int64

employee_range
1                 600
10001 or more      37
1001 to 10000     338
11 to 25          366
2 to 5           1082
201 to 1000       315
26 to 50          564
51 to 200         404
6 to 10           960
unknown           534
dtype: int64

In [32]:
duplicates_count = usage_df.duplicated(subset=["id", "when_timestamp"]).sum()
print(f"check duplicates in usage_df: {duplicates_count}")

check duplicates in usage_df: 0

In [33]:
usage_df.columns

Index(['when_timestamp', 'id', 'actions_crm_contacts', 'actions_crm_companies',
       'actions_crm_deals', 'actions_email', 'users_crm_contacts',
       'users_crm_companies', 'users_crm_deals', 'users_email'],
      dtype='object')

In [34]:
usage_df

,when_timestamp,id,actions_crm_contacts,actions_crm_companies,actions_crm_deals,actions_email,users_crm_contacts,users_crm_companies,users_crm_deals,users_email
0,2019-01-07,1.0,46.0,1.0,2.0,6.0,3.0,1.0,1.0,1.0
1,2019-01-14,1.0,213.0,10.0,74.0,10.0,2.0,2.0,2.0,1.0
2,2019-01-21,1.0,138.0,4.0,45.0,5.0,2.0,2.0,2.0,1.0
3,2019-01-28,1.0,208.0,61.0,87.0,7.0,4.0,2.0,3.0,1.0
4,2019-02-04,1.0,296.0,102.0,24.0,0.0,4.0,4.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...
52568,2020-07-27,5199.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52569,2019-09-30,5200.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
52570,2019-10-07,5200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52571,2019-10-14,5200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52572,2019-10-21,5200.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0